@import './style/variable';
@import './style/mixins';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Nunito Sans', sans-serif;
  color: $VeryDarkBlue;
}

body {
  background: $VeryLightGray;
}

.title {
  text-decoration: none;
}

nav {
  height: 70px;
  box-shadow: 2px 4px 5px #ebebeb;
  margin-bottom: 30px;
  padding: 0 5%;
  position: relative;
  width: 100%;
  background: $WhiteEl;

  @include for-desktop() {
    margin-bottom: 70px;
  }

  h2 {
    margin-right: auto;
    width: max-content;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    font-weight: 800;
  }

  .theme-switcher {
    display: block;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    width: 120px;
    cursor: pointer;
    background: $WhiteEl;
    border: none;
    font-size: 1rem;
    font-weight: 800;
  }
}

.container {
  padding: 0 5%;

  .search-bar-form {
    position: relative;
    height: 230px;

    @include for-desktop() {
      margin-bottom: 70px;
      height: 75px;
    }

    form {
      margin-bottom: 10px;

      .search-container {
        border-radius: 5px;
        box-shadow: 0 0 10px 2px #ebebeb;
        width: auto;
        padding: 0px 20px;

        @include for-desktop() {
          width: max-content;
        }

        .fa-search {
          margin-right: 20px;
          color: $DarkGray;
        }

        .search-bar {
          width: calc(100% - 40px);
          height: 50px;
          border: none;
          background: $WhiteEl;
          font-weight: 600;
          color: $DarkGray;

          &:focus {
            outline: none;
          }

          @include for-desktop() {
            width: 400px;
          }
        }
      }
    }

    .search-keyword {
      span {
        font-weight: 600;
        font-size: 1.2rem;
      }
    }

    .select-clone {
      position: relative;
      width: 200px;
      height: 50px;
      font-size: 0.9rem;
      font-weight: 600;
      border-radius: 5px;
      z-index: 200;
      margin-bottom: 20px;

      @include for-desktop() {
        position: absolute;
        top: 0;
        right: 0;
      }

      .option-bar {
        position: absolute;
        right: 0;
        top: 0;
        width: inherit;
        height: 50px;
        padding: 15px 20px;
        border-radius: inherit;
        background: $WhiteEl;
        box-shadow: 0 0 10px 2px #ebebeb;
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .selected {
          text-transform: capitalize;
        }
      }

      .dropdown-options {
        position: absolute;
        top: 54px;
        width: inherit;
        background: $WhiteEl;
        cursor: pointer;
        border-radius: inherit;

        .option {
          height: 25px;
          padding: 15px 20px;
          display: flex;
          align-items: center;

          &:first-child {
            margin-top: 10px;
          }

          &:last-child {
            margin-bottom: 10px;
          }

          &:hover {
            background: #cecece;
          }
        }
      }
    }
  }

  .flag-wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, auto));
    grid-auto-rows: minmax(300px, auto);
    justify-content: center;
    gap: 50px;
    padding: 0 10%;

    @include for-desktop() {
      justify-content: space-between;
      padding: unset;
    }

    .flag-card {
      position: relative;
      border-radius: 5px;
      box-shadow: 2px 3px 20px 3px #e4e4e48e;
      margin-bottom: 50px;
      transition: 0.3s all ease;
      background: $WhiteEl;
      text-decoration: none;

      @include for-desktop() {
        width: 250px;
      }

      &:hover {
        box-shadow: 5px 7px 30px 7px #e4e4e48e;
        transform: translateY(-5px);
        cursor: pointer;
      }

      .flag-container {
        width: 100%;
        height: minmax(150px, auto);

        @include for-desktop() {
          height: 150px;
        }

        img {
          width: 100%;
          height: minmax(150px, auto);
          border-radius: 5px 5px 0 0;

          @include for-desktop() {
            height: 150px;
          }
        }
      }

      .card-body {
        padding: 10%;
        background: $WhiteEl;

        h4 {
          margin-bottom: 5%;
          font-size: 1.1rem;
        }

        p {
          font-size: 0.9rem;
          font-weight: 600;
          margin-bottom: 1%;

          span {
            font-weight: 300;
          }
        }
      }
    }
  }

  .back-btn {
    background: $WhiteEl;
    border: none;
    width: 120px;
    height: 35px;
    box-shadow: 0 0 3px 3px rgb(228, 228, 228);
    border-radius: 6px;
    margin-bottom: 70px;
    transition: 0.2s;
    font-size: 1rem;

    &:hover {
      cursor: pointer;
      transform: translateY(-3px);
      box-shadow: 1px 2px 5px 3px rgb(228, 228, 228);
    }

    &:focus {
      outline: none;
    }

    .fa-long-arrow-alt-left {
      margin-right: 10px;
    }
  }

  .detail-flag {
    display: grid;
    margin-bottom: 50px;
    grid-template-columns: minmax(100px, 500px);
    grid-template-rows: auto;
    justify-content: center;

    @include for-desktop() {
      display: flex;
      justify-content: center;
    }

    img {
      width: 100%;
      height: auto;
      margin-bottom: 40px;

      @include for-desktop() {
        width: 550px;
        height: 345px;
        margin: none;
        margin-right: 50px;
      }
    }

    .flag-attributes {
      height: auto;
      position: relative;

      @include for-desktop() {
        width: 48%;
        height: auto;
      }

      .flag-name {
        margin-bottom: 20px;
        font-size: 1.9rem;
      }

      .attributes {
        display: block;
        margin-bottom: 20px;

        @include for-desktop() {
          height: auto;
          display: flex;
        }

        .first-column-attrs {
          margin-bottom: 20px;
          width: max-content;
          margin-right: auto;

          @include for-desktop() {
            margin-bottom: 0;
          }
        }

        .second-column-attrs {
          margin-left: 0;

          @include for-desktop() {}
        }

        .attribute {
          font-weight: 600;
          margin-bottom: 10px;
          font-size: 0.9rem;

          span {
            font-weight: 300;
          }
        }
      }

      .borders {
        position: relative;
        font-weight: 600;
        font-size: 0.9rem;

        a {
          font-weight: 300;
          text-decoration: none;
          display: inline-block;
          align-items: center;
          height: 25px;
          background: $WhiteEl;
          margin-right: 10px;
          margin-bottom: 10px;
          padding: 2px 10px;
          box-shadow: 0 0 1px 2px #f0f0f0;
          border-radius: 3px;
        }
      }
    }
  }
}